@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  /* flex-direction: row; */
}

.navbar h1 {
  /* border: 1px solid red; */
  width: 25%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  /* margin-right: 10%; */
  /* border: 1px solid red; */
}

nav ul {
  border-bottom: 2px;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
}

nav ul.active {
  border-bottom: 2px solid red;
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .navbar h1 {
    width: 100%;
    /* border: 1px solid red; */
  }

  nav {
    width: 100%;
    margin-right: 0;
  }
}
